*{
    box-sizing: border-box;
}
body{
    margin: 0%;
}
.contenedor-1{
    text-align: center;
}
.contenedor-1 p{
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
}

.contenedor-1 ul li{
    text-align: justify;
    margin-left: 20%;
    margin-right: 10%;
}


.contenedor-2{
    width: 50%;
    border-style: double;
    float: left;
}

.contenedor-2 a{
    padding-top: 10%;
}