.principal {
  margin: 10%;
  padding: 0%;
  border: 0%;
}

.texto {
  text-align: center;
}

.titulo {
  margin-top: 4em;
}

.imagengato,
.textogato {
  vertical-align: middle;
  display: inline-block;
}

.textogato {
  margin-left: 5em;
}

header {
  padding: 2%;
  border: 0%;
  text-align: right;
}

.cajadeimg {
  margin: 10%;
}

*{
  box-sizing: border-box;
}
body{
  margin: 0%;
  margin-bottom: 10%;
  padding-bottom: 5%;
}
.contenedor-1{
  text-align: center;
}
.contenedor-1 p{
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
}

.contenedor-1 ul li{
  text-align: justify;
  margin-left: 20%;
  margin-right: 10%;
}


.contenedor-2{
  float: left;
  width: 80%;
  
  
}

.linkIndex{
  padding-left: 20%;
      
}