.principal {
  margin: 10%;
  padding: 0%;
  border: 0%;
}

.texto {
  text-align: center;
}

.titulo {
  margin-top: 4em;
}

.imagengato,
.textogato {
  vertical-align: middle;
  display: inline-block;
}

.textogato {
  margin-left: 5em;
}

header {
  padding: 2%;
  border: 0%;
  text-align: right;
}

.cajadeimg {
  margin: 10%;
}

.Contenedor-Index{
  width: 72%;
  height: 25%;  
  padding-top: 1%;
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 1%;
  text-align: justify;
  display: block;
  border-style: double;
}
.cont-1{
  background-color: aqua;
}
.cont-2{
  background-color: yellow;
}
.cont-3{
  background-color: orange;
}
.cont-4{
  background-color: red;
=======
*{
  box-sizing: border-box;
}
body{
  margin: 0%;
  margin-bottom: 10%;
  padding-bottom: 5%;
  background-color: black;
}

.menu{

font-family: sans-serif;
font-weight: bold;

}

li{
  list-style-type: none;

}

a{
  text-decoration: none;
  color: white;
}

a:hover{
color: gray;
